<div class="jumbotron">
    <h1>rLang.NET</h1>
    <p class="lead">Excel compatible, IL compiled DSL for TimeSheet Calculations</p>
    <p><a href="~/Syntax/Check" class="btn btn-primary btn-lg">Test</a></p>
</div>
